body{
    
    font-family: sans-serif;
    background-color: yellowgreen;
    padding: 0px;
    margin: 0px;
   
}
h1{
    text-align: center;
}

.total ul
{
    display: inline-flex;
    list-style: none;
    padding-top: 30px;
 
    
}

.total ul .detail
{
   
    padding-left: 120px;

}

.total ul .detail li
{
    text-align: center;
    padding-top: 10px;
}
.total ul .detail li img
{
    border: 2px solid black;
}